@model Medicalstore.Models.Medicine_Cat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medicine Categoery</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Medicine Categoery Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cat_id)
        </dd>
        <dt class = "col-sm-2">
          Medicine Categoery Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cat_nm)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
