@model Medicalstore.Models.Sale_details

@{
    ViewData["Title"] = "Create";
}

<h1>Add New</h1>

<h4>Sale Details</h4>
<hr />
<div class="row">
  
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="row">
               <div class="col-md-6">
            <div class="form-group">
                <label asp-for="sale_id" class="control-label">Enter Sale Date:</label>
                <select asp-for="sale_id" class="form-select" >
                    @{
                        if (ViewData["Sale_master"] != null)
                        {
                            List<Sale_master> salemasterdata = (List<Sale_master>)ViewData["Sale_master"];
                            foreach (var Saledata in salemasterdata)
                            {
                                <option value="@Saledata.sale_id">
                                    @Saledata.sale_date.ToString("dd/MMM/yyyy")
                                </option>
                            }
                        }
                    }

                    </select>


                <span asp-validation-for="sale_id" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="med_id" class="control-label">Enter Medicine Name:</label>
                <select asp-for="med_id" class="form-select" >
                    @{
                        if (ViewData["Medicine_master"] != null)
                        {
                            List<Medicine_Master> medicinemasterdata = (List<Medicine_Master>)ViewData["Medicine_master"];
                            foreach (var medicinedata in medicinemasterdata)
                            {
                                <option value="@medicinedata.med_id">
                                    @medicinedata.med_nm
                                </option>
                            }
                        }
                    }
                
                </select>

                <span asp-validation-for="med_id" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="qty" class="control-label">Enter Quantity:</label>
                <input asp-for="qty" class="form-control" />
                <span asp-validation-for="qty" class="text-danger"></span>
            </div>
            </div>
            @* <div class="col-md-6">
            <div class="form-group">
                <label asp-for="amt" class="control-label">Enter Ammount:</label>
                <input asp-for="amt" class="form-control" />
                <span asp-validation-for="amt" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="gst" class="control-label">Enter Gst:</label>
                <input asp-for="gst" class="form-control" />
                <span asp-validation-for="gst" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="total" class="control-label">Enter Total:</label>
                <input asp-for="total" class="form-control" />
                <span asp-validation-for="total" class="text-danger"></span>
            </div>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        </form>
    </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
